<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="padding-top: 10px;">
            <!--Sidebar content-->
            <div class="row" style="font-weight: bold;">
                Latest products
            </div>
            <ul ng-repeat="product in latestProducts">
                <div class="row" style="padding-top: 25px;">
                    <div class="col-md-4">
                        <img ng-src="{{product.vendor_logo}}" style="width: 60px;" err-src="img/missing.png">
                    </div>
                    <div class="col-md-8">
                        <img ng-src="{{product.photo}}" style="width: 100%;" err-src="img/missing.png">
                    </div>
                </div>
                <div class="row" style="font-weight: bold; padding-top:5px;">
                    {{product.item_name}} ({{product.vendor_name}}), {{product.price | usd}}
                </div>
            </ul>
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumns" class="row-border hover" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Vendor</th>
                    <th>Type</th>
                    <th>Serial number</th>
                    <th>Price</th>
                    <th>Weight</th>
                    <th>Color</th>
                    <th>Release date</th>
                    <th>Created date</th>
                    <th>Photo</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td><a href="" ng-click="openEditProduct($index)">{{product.id}}</a></td>
                    <td style="max-width: 180px;">{{product.item_name}}</td>
                    <td style="max-width: 125px;">{{product.vendor_name}}</td>
                    <td style="max-width: 125px;">{{product.type_name}}</td>
                    <td style="max-width: 130px;">{{product.serial_number}}</td>
                    <td style="max-width: 130px;">{{product.price | usd}}</td>
                    <td style="max-width: 130px;">{{product.weight}}</td>
                    <td style="max-width: 130px;">{{product.color}}</td>
                    <td style="max-width: 125px;;">{{product.release_date | unix}}</td>
                    <td style="max-width: 125px;">{{product.create_date | unix}}</td>
                    <td style="max-width: 130px;"><span class="truncate">{{product.photo}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>